/* Google fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap');

/* Global styling */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace, sans-serif;
    font-size: 18px;
}

/* Selector styling */

body {
    background-color: #2E282A;
}

img {
    height: 78px;
    width: auto;
}

h1 {
    font-size: 39px;
}

span {
    font-size: 40px;
    font-weight: 700;
}

/* ID styling */

#rock {
    
}

#computerBadge {
    order: 3;
}

/* Class styling */

.container {
    display: flex;
}

.header {
    display: flex;
    padding: 3vw;
    justify-content: space-between;
    flex-direction: column;
    background-color: #faebd7;
    color: #13C4A3;
    width: 35%;
    height: 100vh;
    border: 10px solid #13C4A3;
    border-radius: 30px;
}

.header p:nth-child(1) {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
}

.header p:nth-child(2) {
    border-top: 1px solid #13C4A3;
    border-bottom: 1px solid #13C4A3;
    padding: 20px 30px;
    text-align: center;
}

.choice {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.gameArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 65%;
}

.scoreBoard {
    order: 1;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    order: 2;
    background-color: #13C4A3;
    height: 180px;
    padding: 40px;
    color: #2E282A;
    border-radius: 10px;
    margin-bottom: 50px;
}

.badge {
    display: flex;
    justify-content: end;
    background-color: #faebd7;
    color: #2E282A;
    font-size: 30px;
    font-weight: 700;
    padding: 5px 10px;
    margin: 0 40px;
    border-radius: 5px;

}

.message {
    order: 3;
    color: #13C4A3;
    font-size: 28px;
    font-weight: 500;
    padding: 15px 20px;
    margin-bottom: 44px;
    border: 1px solid #13C4A3;
    border-radius: 10px;
}

.messageIcons {
    order: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    margin-bottom: 50px;
}

.messageIcons img {
    height: 120px;
    width: auto;
}

.messageOperator {
    color: #13C4A3;
    font-size: 78px;
    font-weight: 300;
}



