/* Google fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap');

/* Global styling */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace, sans-serif;
    font-size: 18px;
}

/* Selector styling */

body {
    background-color: #2E282A;
}

button {
    border: none;
    background-color: #faebd7;
    color: #13C4A3;
}

svg {
    height: 78px;
    width: auto;
}

h1 {
    font-size: 28px;
}

span {
    font-size: 40px;
    font-weight: 700;
    padding: 0 10px;
}

/* ID styling */

#rock:hover {
    cursor: pointer;
}

#paper:hover {
    cursor: pointer;
}

#scissors:hover {
    cursor: pointer;
}

#playerIcon {
    display: flex;
    justify-content: center;
    align-items: center;
}

#computerIcon{
    display: flex;
    justify-content: center;
    align-items: center;
}

#messageSymbol {
    content: '';
    color: #13C4A3;
    font-size: 78px;
    font-weight: 300;
}

#playerBadge {
    order: 1;
}

#computerBadge {
    order: 3;
}

#modalEmoji {
    font-size: 44px;
    padding: 20px;
}

/* Class styling */

.container {
    display: flex;
}

.header {
    display: flex;
    padding: 3vw;
    justify-content: space-between;
    flex-direction: column;
    background-color: #faebd7;
    color: #13C4A3;
    width: 35%;
    height: 100vh;
    border: 10px solid #13C4A3;
    border-radius: 25px;
}

.header h1 {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
}

.header p {
    border-top: 1px solid #13C4A3;
    border-bottom: 1px solid #13C4A3;
    padding: 20px 40px;
    text-align: center;
}

.btn-text {
    font-size: 39px;
    font-weight: 700;
}

.choice {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.choice:hover {
    transform: translateY(-10px);
    transition: all .3s ease-in-out;
    background-color: #13C4A3;
    color: #faebd7;
    padding: 20px;
    border-radius: 10px;
}

.choice:hover svg {
    fill: #faebd7;
}

.choice:active {
    transform: translateY(10px);
    transition: all .4s ease-out;
}

.gameArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 65%;
}

.scoreBoard {
    order: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #13C4A3;
    height: 100px;
    width: 550px;
    padding: 60px 30px;
    color: #2E282A;
    border-radius: 10px;
    margin-bottom: 50px;
}

.badge {
    display: flex;
    justify-content: end;
    background-color: #faebd7;
    color: #2E282A;
    font-size: 30px;
    font-weight: 700;
    padding: 5px 10px;
    border-radius: 5px;

}

.score {
    order: 2;
    padding: 0 20px;
}

.message {
    order: 3;
    color: #13C4A3;
    font-size: 20px;
    font-weight: 500;
    padding: 15px 20px;
    margin-bottom: 44px;
    border: 1px solid #13C4A3;
    border-radius: 10px;
}

.messageIcons {
    order: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
    margin-bottom: 50px;
}

.messageIcons img {
    position: absolute;
    height: 120px;
    width: auto;
}

.rockComp {
    visibility: hidden;
}

.rockComp.activeIcon {
    visibility: visible;
}

.paperComp {
    visibility: hidden;
}

.paperComp.activeIcon {
    visibility: visible;
}

.scissorsComp {
    visibility: hidden;
}

.scissorsComp.activeIcon {
    visibility: visible;
}



.active {
    visibility: hidden;
}

/* Modal window styling */

.modal {
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    padding: 20px;
    text-align: center;
    background-color: #faebd7;
    color: #13C4A3;
    height: 250px;
    width: 300px;
    border: 5px solid #13C4A3;
    border-radius: 10px;
}

.modal.activeModal {
    transform: translate(-50%, -50%) scale(1);
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.overlay.activeModal {
    display: block;
}

.modal-title {
    margin-top: 5px;
    font-size: 39px;
    font-weight: 700;
}

.modal-reset-btn {
    background-color: #faebd7;
    color: #13C4A3;
    padding: 5px 18px;
    border: 1px solid #13C4A3;
    border-radius: 7px;
}

.modal-reset-btn:hover {
    cursor: pointer;
    background-color: #13C4A3;
    color: #faebd7;
    transform: translateY(-3px);
    transition: all 250ms ease-in-out;
    padding: 10px 28px;

    /* transform: translateY(-10px);
    transition: all .3s ease-in-out;
    background-color: #13C4A3;
    color: #faebd7;
    padding: 20px; */
}

.modal-reset-btn:active {
    transform: translateY(5px);
    transition: all 175ms ease-in-out;
}

.activeModal {
    display: block;
}





